*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header{
  width: 100%;
  line-height: 70px;
  background-color: cyan;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  color: white;
  box-shadow: 5px 3px 15px -5px black;
  position: relative;
}
header img{
  position: relative;
  width: 100px;
  height: 80px;
}
header h1{
  font-size: 5.50rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  font-weight: 900;
  margin-left: 15px;
  padding-left: 20px;
  text-shadow: 2px 8px 15px  rgb(17, 17, 17),
              2px 8px 15px rgb(8, 5, 5);
}


.main_note{
  width: 500px;
  position: relative;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
  padding-right: 28px;
  padding-left: 10px;
}

input{
  width: 50%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 10px 0;
  font-weight: bold;
}
form{
  min-height: 50px;
  font-size: 15px;
  font-weight: 900;
  color: white;
  background-color: rgb(247, 247, 185);
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px black;
  border-radius: 10px;
  position: relative;
}
.main_note input{
  font-size: 25px;
  font-weight: 900;
}
textarea{
  width: 80%;
  line-height:830px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 10px 0;
}

.main_note .btn{
position: absolute;
right: 0;
  margin-right: 2px;
  color: rgb(9, 22, 206);
  border: none;
   width: 30px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 15px -10px darkgray;
  border-radius: 50%;
}

.MuiButton-root .icon{
  font-size: 25px !important;
  font-weight: 900;
  color: rgb(9, 22, 206) !important;
  cursor: pointer;
  z-index: 222;
  background: transparent;

}

.MuiButton-root:hover{
  background-color: black !important;
  color: black !important;
}

.MuiButton-root:hover .icon{
  color: white;
  background-color: black;
}


.note .deletIcon{
 font-size: 25px !important;
  font-weight: 900;
  color: rgb(9, 22, 206);
  cursor: pointer;
  z-index: 222;
  background: transparent;
}
.note{
  background-color: rgb(166, 235, 240);
  border-radius: 7px;
  box-shadow: 0 2px 5px grey;
  padding: 15px;
  width: auto;
  height: auto !important;
  margin: 21.3px;
  float: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space:pre-wrap;
  position: relative;
}

.note h1{
 position: relative;
  width: 50%;
  line-height: 1px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 2rem;
  margin: 15px 0;
  font-weight: bold;
}
.note p {
  position:relative;
  float: left;
  width: 75%;
  height: 15%;
  background: transparent;
  border: none;
  outline: none;
  margin: 5px 30px 5px 0;
  font-size: 2rem;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}


.note .btn{
  float: right;
  margin-right: 0;
  margin-top: 35px;
  margin-left: 60px;
  color: rgb(9, 22, 206);
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 15px -10px darkgray;
  border-radius: 50%;
}

.note .btn:hover{
  background-color: black !important;
}

.note .btn:hover .deletIcon{
  color: #fff;
  background-color: black !important;
}

.footer{
  width: 100%;
  display : flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  flex-flow: row wrap;
  flex-direction: column;
  position: relative;
  bottom: 0;
  text-align: center;
  margin-top: 45rem;
  font-size: 1.5rem;
  background-color: lightcyan;

}
@media (max-width: 991px){
header{
  width: 100%;
}
header img{
 width: 80px;
  height: 60px;
}
header h1{
  font-size: 3rem;
}
form{
  width: 55vw;
}
.footer{
  width: 100%;
  flex-flow: row wrap;
   justify-content: center;
}
.note{
  width: 35vw;
  height: 5vh;
  float: left;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space:pre-wrap;
}
.note .btn:hover{
  background-color: black !important;
}
.note .btn:hover .deletIcon{
  color: #fff;
  background-color: black !important;
}
.MuiButton-root:hover{
  background-color: black !important;
  color: black !important;
}

.MuiButton-root:hover .icon{
  color: white;
  background-color: black;
  z-index: 222;
}
.note h1{
  width: 50%;
  line-height: 1px;
  font-size: 2rem;
  margin: 20px 0;
  font-weight: bold;
   white-space: pre-wrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.note p {
  float: left;
  width: 50%;
  font-size: 1.5rem;
  margin: 15px 0;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

}

@media (max-width: 768px){
header{
  width: 100%;
}
header img{
  width: 80px;
  height: 60px;
}
header h1{
  font-size: 3rem;
}
form{
  width: 55vw;
}
.footer{
  width: 100%;
  flex-flow: row wrap;
   justify-content: center;
}
.main_note{
  margin: 20px 80px;
}
.note{
  width: 35vw;
  height: 5vh;
  float: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space:pre-wrap;
  position: relative;
  overflow: auto;
}
.note .btn:hover{
  background-color: black !important;
}
.note .btn:hover .deletIcon{
  color: #fff;
  background-color: black !important;
}
.MuiButton-root:hover{
  background-color: black !important;
  color: black !important;
}

.MuiButton-root:hover .icon{
  color: white;
  background-color: black;
}
.note h1{
  position: relative;
  width: 50%;
  font-size: 2rem;
  margin: 20px 0;
  font-weight: bold;
   white-space: pre-wrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.note p {
  float: left;
  width: 50%;
  font-size:1.5rem;
  margin: 15px 0;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  word-wrap: break-word;

}
}


@media(max-width: 480px){
header{
  width: 100%;
   word-wrap: break-word;
  white-space:pre-wrap;
}
header img{
  width: 10vw;
  height: 5vh;
}
header h1{
  font-size: 2rem;
}
form{
  width: 55vw;
  display: grid;
  place-items: center;
   padding: 15px 10px 5px 10px;
   position: relative;
}
.main_note{
 margin: 20px 80px;
}
.main_note input{
  font-size: 2rem;

}
.main_note .btn{

  width: 4vw;
  height: 5vh;
}
.MuiButton-root .icon{
  width: 10vw;
  height: 2vh;
}
.note{
  width: 35%;
  height: 5%;
  float: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space:pre-wrap;
  position: relative;
}
.footer{
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
}
.note .btn:hover{
  background-color: black !important;
}

.note .btn:hover .deletIcon{
  color: #fff;
  background-color: black !important;
}
.note .btn{
 width: 2vw;
  height: 4vh;
  border-radius: 50%;
}
.MuiButton-root:hover{
  background-color: black !important;
  color: black !important;
}

.MuiButton-root:hover .icon{
  color: white;
  background-color: black;
}
.note h1{
  position: relative;
  width: 50%;
  line-height: 1px;
  font-size: 2rem;
  font-weight: bold;
   white-space: pre-wrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.note p {
  float: left;
  width: 100%;
  font-size: 1.5rem;
  margin: 15px 0;
   white-space: pre-wrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.note .deletIcon{
  z-index: 222;
}
}